* {
    padding: 0px;
    margin: 0px;
}

body { 
    border: 1px solid black;
    height: 100vh;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar-container {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border: 1px solid black;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 1px solid black;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
}
